/out/production/consoleProj/com/nolo/bar/barbosa/Bar.class
/out/production/consoleProj/com/nolo/Foo/Foo.class
/out/production/consoleProj/com/nolo/Main$Person.class
/out/production/consoleProj/com/nolo/Main.class
